In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
X_train = pd.read_csv("X_train.csv", sep=',')
Y_train = pd.read_csv("Y_train.csv", sep =',')

#Exclude index out of CSV file from matrix
X_train = X_train.iloc[:, 1:]
Y_train = Y_train.iloc[:, 1:]

X_train.head(5)

,cfm,intcov_ratio,intcov,DIVYIELD,int_totdebt,CAPEI,lt_debt,debt_capital,rect_turn,gpm,...,sale_equity,dpr,equity_invcap,sale_invcap,pretret_earnat,curr_ratio,cash_conversion,int_debt,dltt_be,pretret_noa
0,0.113,8.406000,6.129000,0.013300,0.060000,36.030,0.309,0.500000,4.891,0.423,...,2.794,0.334,0.596,1.665,0.164000,1.860000,73.015000,0.060000,0.608,0.271000
1,0.245,21.132000,12.553000,0.008430,0.040000,24.356,0.523,0.230000,5.000,0.803,...,0.757,0.175,0.785,0.594,0.283000,4.404000,444.210000,0.040000,0.274,0.341000
2,0.254,2.969000,2.825000,0.040700,0.048000,14.467,0.471,0.604000,6.879,0.311,...,1.046,0.476,0.443,0.463,0.068000,0.748000,45.397000,0.055000,0.929,0.081000
3,-0.054,-5.747867,0.031832,0.020324,-0.047909,68.029,0.367,0.375000,6.584,0.899,...,1.248,0.000,0.644,0.804,0.009000,2.013000,17.966150,-0.132664,0.547,0.017000
4,0.028,5.341000,2.837000,0.022700,0.042000,20.875,0.034,0.630259,0.729,0.101,...,1.097,0.547,0.705,0.773,2.351248,0.234861,748.499736,0.050000,0.362,-15.859433

In [3]:
Y_train.head(5)

   Rating as Factor
0                 7
1                 7
2                 7
3                 4
4                 7

In [4]:
#factorize the ratings again
Y_train = Y_train["Rating as Factor"].astype("category")
Y_train = pd.DataFrame(Y_train, columns=["Rating as Factor"])
Y_train.head(5)

  Rating as Factor
0                7
1                7
2                7
3                4
4                7

In [5]:
#Same as above but for test set
X_test = pd.read_csv("X_test.csv", sep=',')
Y_test = pd.read_csv("Y_test.csv", sep =',')

#Exclude index out of CSV file from matrix
X_test = X_test.iloc[:, 1:]
Y_test = Y_test.iloc[:, 1:]

X_test.head(5)

,cfm,intcov_ratio,intcov,DIVYIELD,int_totdebt,CAPEI,lt_debt,debt_capital,rect_turn,gpm,...,sale_equity,dpr,equity_invcap,sale_invcap,pretret_earnat,curr_ratio,cash_conversion,int_debt,dltt_be,pretret_noa
0,0.231,4.218,3.273,0.0338,0.040,30.241,0.441,0.549,8.445,0.335,...,0.833,0.665,0.493,0.412,0.081000,0.845000,36.181000,0.045,0.660,0.092000
1,0.164,9.255,6.003,0.0108,0.016,23.654,0.390,0.859,0.318,0.280,...,1.811,0.198,0.268,0.485,0.236148,1.538345,305.641000,0.018,2.733,-3.118643
2,0.097,8.406,5.609,0.0193,0.049,18.205,0.510,0.642,4.777,0.426,...,4.800,0.272,0.421,2.023,0.166000,2.567000,86.333000,0.053,1.373,0.234000
3,0.248,15.614,5.948,0.0135,0.026,51.018,0.046,0.271,7.224,0.658,...,0.300,0.412,0.781,0.234,0.028000,1.015000,418.153202,0.034,0.219,0.829000
4,0.204,27.347,18.042,0.0352,0.031,17.018,0.249,0.289,6.033,0.735,...,1.074,0.618,0.821,0.882,0.241000,2.509000,80.080000,0.045,0.211,0.361000

In [6]:
#factorize the ratings again
Y_test = Y_test["Rating as Factor"].astype("category")
Y_test = pd.DataFrame(Y_test, columns=["Rating as Factor"])
Y_test.head(5)

  Rating as Factor
0                7
1                8
2                7
3                0
4                3

In [7]:
#Apply Random Forest
from sklearn.ensemble import RandomForestClassifier

# Create classifier object and fit it to data
forest = RandomForestClassifier(criterion='gini', random_state=0, n_jobs=-1)
forest.fit(X_train, Y_train)

/Users/Rak/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/Rak/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [8]:
# Print test score 
print('Test accuracy: {0: .4f}'.format(forest.score(X_test, Y_test)))

Test accuracy:  0.9731

In [9]:
#Stadardize Feature Matrix
from sklearn.preprocessing import StandardScaler 

# Apply StandardScaler on continuous columns only
stdsc = StandardScaler()
X_train_std = stdsc.fit_transform(X_train.iloc[:,:])  # fit & transform
X_test_std  = stdsc.transform(X_test.iloc[:,:])  # ONLY transform

In [10]:
#Run RandomForest on standardized Data
forest = RandomForestClassifier(criterion='gini', random_state=0, n_jobs=-1)
forest.fit(X_train_std, Y_train)

/Users/Rak/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/Rak/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [11]:
# Print test score 
print('Test accuracy: {0: .4f}'.format(forest.score(X_test_std, Y_test)))
#Apparently no effect on score?

Test accuracy:  0.9731

In [32]:
from sklearn.model_selection import GridSearchCV

# Max depth
maxDepth = np.array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

# Minimum number of samples required to split any internal node 
minSamplesNode = np.array([2])

# The minimum number of samples required to be at a leaf/terminal node
minSamplesLeaf = np.array([1])

In [25]:
def random_forest(x, y, maxDepth, minSamplesNode, minSamplesLeaf):
    """ Apply GridSearchCV with RandomForestClassifier. Test score and best parameters will be printed out.
    
    Args:
        x: train feature matrix
        y: train classification input
        maxDepth: array of values which will be tested for variable max_depth
        minSamplesNode: array of values which will be tested for variable min_samples_split
        minSamplesLeaf: array of values which will be tested for variable min_samples_leaf
    """
    # Define the hyperparameter values to be tested
    param_grid = {'criterion': ['gini', 'entropy'],
                  'max_depth': maxDepth,
                  'min_samples_split': minSamplesNode,
                  'min_samples_leaf': minSamplesLeaf}

    # Run brute-force grid search
    gs = GridSearchCV(estimator=RandomForestClassifier(random_state=0),
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=5, n_jobs=-1)
    gs = gs.fit(x, y)
    print(gs.best_score_)
    print(gs.best_params_)
    
    #Extract best parameters
    best_estimators = gs.best_estimator_
    
    return best_estimators

In [33]:
clf = random_forest(x = X_train, y = Y_train, maxDepth = maxDepth, minSamplesNode = minSamplesNode, minSamplesLeaf = minSamplesLeaf)

/Users/Rak/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/Rak/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

0.9667190887065924
{'criterion': 'gini', 'max_depth': 25, 'min_samples_leaf': 1, 'min_samples_split': 2}

In [15]:
def random_forest_test(best, x_train, y_train, x_test, y_test):
    """ Get test score of random forest classifier with best parameters on test sets.
    
    Args:
        best: Best parameters, return value from random_forest function
        x_train: train feature matrix
        y_train: train classification input
        x_test: test feature matrix
        y_test: test classification input
    """
    
    # Fit model given best parameter
    best.fit(x_train, y_train)

    # Print out score on Test dataset
    print('Test accuracy: {0: .4f}'.format(best.score(x_test, y_test)))

In [27]:
random_forest_test(clf, X_train, Y_train, X_test, Y_test)

/Users/Rak/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]

Test accuracy:  0.9725